<form id="login_form" action="/logindetails" method="post">
	<input type="text" name="username" placeholder="Username" />
	<input type="text" name="password" placeholder="Password" />
	<button type="submit" value="submit">Submit</button>
</form>