<form id="signup_form" action="/signupdetails" method="post">
	Username: <input type="text" name="username">
	Password: <input type="text" name="password">
	First Name: <input type="text" name="first_name">
	Last Name: <input type="text" name="last_name">
	<button type="submit" value="submit">Signup!</button>
</form>